extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			.row
				.col
					h1 Your Logo 
					i Using a single layout to create several different looks
			.row
				.col-sm-1
					p Home
				.col-sm-1
					p About
				.col-sm-1
					P Sevices
				.col-sm-1
					p ContactUs
			.row
				.col-sm-3
				img(src="./src/img/aircraft-1314333_960_720.png", alt="s")
				.col-sm-8
				h1 About
